.imagem-topo{
    width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.top-row{
    background-color: #009fe3;
}
.row-banner{
    border-radius: 10px;
}
.texto-banner{
    color: white;
    margin-top: 15px;
    margin-bottom: 20px;
}
.container-formulario{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}
.form-label{
    margin-bottom: 0;
    padding-left: 10px;
}
.dependentes{
    width: 200px;
}
.btn{
    background-color: #009fe3;
    border-color: #009fe3;
    color: white;
}
#btn:hover{
color: #000000; 
}